body {
    /* margin: 0; */
}

h2 {
    margin-top: 16px;
}

.style {
    border-color: chocolate;
    border-width: 8px;
    border-style: dashed groove none dotted;
}

p.nosizing,
p.sizing,
.radius,
.radius-styled,
.another-radius-styled,
.yet-another {
    width: 200px;
    height: 200px;
    background-color: rgb(116, 160, 51);
    color: aliceblue;
}

.sizing {
    border-color: blueviolet;
    border-style: dashed;
    border-width: 8px;
    box-sizing: border-box;
    border-left-color: chartreuse;
}

.nosizing {
    border-color: blueviolet;
    border-style: inset;
    border-width: 8px;
}

.radius {
    border-color: blueviolet;
    border-style: inset;
    border-width: 8px;
    border-radius: 10%;
}

.radius-styled {
    width: 300px;
    border-color: blueviolet;
    border-style: inset;
    border-width: 8px;
    border-radius: 10% 30% 50% 70%;
}

.another-radius-styled {
    width: 300px;
    border-color: blueviolet;
    border-style: inset;
    border-width: 8px;
    border-radius: 10px 100px / 120px;
}

.yet-another {
    width: 300px;
    border-color: blueviolet;
    border-style: inset;
    border-width: 8px;
    border-radius: 50% 20% / 10% 40%;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: brown;
    border: 4px solid black;
    border-radius: 50%;
}

.padding {
    width: auto;
    height: 5%;
    background-color: orange;
    border: 4px inset gold;
    border-radius: 20%;
    padding: 1% 5% 3%;
}