body {
    color: green;
    border-color: rgb(50, 141, 50);
}

h1 {
    color: blueviolet;
}

label {
    color: aquamarine;
}

input {
    color: crimson;
    border-color: inherit;
    border-width: 4px;
}

button {
    color: inherit;
}