<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page <%="Hello".toUpperCase()%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
      quisquam laboriosam dicta architecto eligendi voluptatibus libero
      reprehenderit, sed dolore rem quo esse nihil perspiciatis. Ipsum, soluta
      maxime? Itaque, dicta mollitia! Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Possimus nesciunt porro, iure nemo, excepturi officiis
      ea quod enim ducimus magnam saepe voluptatibus, voluptas accusamus.
      Suscipit expedita quis consectetur unde pariatur?
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, iure?
      Unde, delectus nam repellat ea sit veritatis voluptates illum voluptate
      molestiae, asperiores optio. Quas sit debitis officiis explicabo ipsam
      atque!
    </p>
  </body>
</html>
