body {
    font-family: 'open sans', sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-family: roboto, sans-serif;
}

p {
    font-size: large;
    width: 70%;
    margin: auto;
}

#container section {
    background-color: #003049;
    width: 20%;
    height: 90%;
    margin: 10px auto;
    border: 5px solid #003049;
}

#container div {
    width: 6em;
    height: 6em;
    text-align: center;
    display: flex;
}

#containercolumns section {
    background-color: #003049;
    width: 90%;
    height: 200px;
    margin: 10px auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
}

#containercolumns div {
    width: 6em;
    height: 6em;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.space-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}