body {
    font-family: 'open sans', sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-family: roboto, sans-serif;
}

p {
    font-size: large;
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.container section {
    background-color: #003049;
    width: 90%;
    height: 90%;
    margin: 20px auto;
    border: 5px solid #003049;
}

.container div {
    width: 6em;
    height: 6em;
    text-align: center;
}

#containercolumns section {
    background-color: #003049;
    width: 90%;
    height: 800px;
    margin: 20px auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
}

#containercolumns div {
    width: 6em;
    height: 6em;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.space-around {
    display: flex;
    justify-content: space-around;
}