<%-include("partials/head")%>
<body>
  <%-include("partials/navbar")%>
  <h1>Home page <%="Hello".toUpperCase()%></h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
    quisquam laboriosam dicta architecto eligendi voluptatibus libero
    reprehenderit, sed dolore rem quo esse nihil perspiciatis. Ipsum, soluta
    maxime? Itaque, dicta mollitia! Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Possimus nesciunt porro, iure nemo, excepturi officiis ea
    quod enim ducimus magnam saepe voluptatibus, voluptas accusamus. Suscipit
    expedita quis consectetur unde pariatur?
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, iure? Unde,
    delectus nam repellat ea sit veritatis voluptates illum voluptate molestiae,
    asperiores optio. Quas sit debitis officiis explicabo ipsam atque!
  </p>
</body>
<%-include("partials/footer")%>
